.flex {
    display: flex;
}

.form-item {
    padding: 10px;
}

.input {
    border: 1px solid black;
    padding: 10px;
    padding-right: 10px;
    margin-top: 300px;
    margin-left: 30%;
    border-radius: 15px;
}

.tittle {
    padding-left: 40%;
}

.reg {
    padding-left: 40%;
    padding-right: 48%;
    padding-bottom: 3%;
}

#flex {
    display: flex;
}

#book {
    position: relative;
    object-fit: cover;
    top: 280px;
}

#none {
    position: relative;
    top: 300px;
    left: 50px;
}
