.title {
    text-align: center;
}

body {
    background-color: greenyellow;
}

.pha {
    text-align: center;
}

.table {
}

.form {
    position: absolute;
    left: 1000px;
}

.bucks {
}

.img {
    position: absolute;
    display: flex;
    border: 1px solid black;
    animation-name: img;
    animation-duration: 2s;
}    

@keyframes img {
    100% {transform: rotate(360deg);}
}

.table {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}

.one {
    border: 2px solid black;
}

.two {
    border: 2px solid black;
}

.three {
    border: 2px solid black;
}

.four {
    border: 2px solid black;
}

.five {
    border: 2px solid black;
    background-color: brown;
}

.six {
    border: 2px solid black;
}

.exp {
    position: relative;
    top: -30px;
}

.butt {
    background-color: blue;
    transition-duration: 1s ;
}

.butt:hover {
    background-color: red;
}