.butt {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1000px;
}

.but {
    border: 0px;
    padding: 100px;
    background-color: #4caf50;
    color: white;
  padding: 15px 32px;
  transition-timing-function: ease-in;
  transition: width 2s, height 2s, background-color 2s
}

.butt:hover .but {
    background-color: #000;
}